.imagen{
    max-width:100%;
}
a{
    cursor: pointer;
}
.alerta{
    font-weight:700;
}
.modal-contenedor{
    display: flex;
    align-items: center;
}
.img-carrito{
    width: 200px;
    padding: 20px;
    gap: 2rem;
}
.modal-content{
    background-color: aquamarine;
}