<<<<<<< HEAD
=======
.contanier-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.productos {
    border: 1px solid #ccc;
    padding: 20px;
}
.producto_precio {
    font-weight: bold;
}

#capa{
    -webkit-animation: reverse 5s normal linear infinite;
    animation: reverse 5s normal linear infinite;
    position: absolute;
    margin-top: 50px;
}

>>>>>>> 8dfe69d73050e694385a7a178f8330bddae32c71
.rotacion {
    animation:  rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotateZ('3deg');
    }
}