body{
  font-family: arial black;
  margin: 0;
  background-color: rgb(255, 255, 255) ;
  
}
header{
  display: flex;
  height: 75px;
  background-color:rgb(255, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 40px;
  margin-right: 10px;
}
nav a{
  font-weight: 600;
  padding-right: 20px;
}
a:hover{
  color: rgb(255, 255, 255);
}
.menu{
  display: flex;
  background-color: rgb(255, 0, 0);
  margin-bottom:100px;
  list-style: none;
  margin-top:-20px;
  justify-content:center;
  padding: 10px;
  height: 15px;
  
}
/*.menu2 > li{
    display: inline-block;
}*/
.rotacion {
  animation:  rotate 2s linear infinite;
}