*{
    font-family: sans-serif;
    margin: 0;
    background-color: aquamarine ;
}
a{
    text-decoration: none;
    color:black;
}
#titulo{
    padding-left: 500px;
}
header{
    display: flex;
  height: 75px;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 40px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
}
